<h2 class="top">ようこそ Bookers へ！</h2>
<p class="com"><span class="big">Bookers </span>では、さまざまな書籍に関するあなたの意見や</p>
<p class="com">印象を共有し交換することができます</p>
<p class="link"><%= link_to "start" , '/books' %></p>